.textStyle {
    font-family: Inter,sans-serif!important;
}

.termsBanner {
    background-image: url("https://cdn.Sharetrip.net/Sharetrip_net/public/images/b2bhomeMap.png");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}